<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654665921949-7t9rrh45kqtqs9qhelqvcflf04jhrs8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654665921949-7t9rrh45kqtqs9qhelqvcflf04jhrs8g</string>
	<key>API_KEY</key>
	<string>AIzaSyAxlz-Y27fYO6lZW8l02QuQ9u9oMmydaPg</string>
	<key>GCM_SENDER_ID</key>
	<string>654665921949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kullaniciblog</string>
	<key>PROJECT_ID</key>
	<string>kullaniciblog01</string>
	<key>STORAGE_BUCKET</key>
	<string>kullaniciblog01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654665921949:ios:0ce08b38419b7641896b74</string>
</dict>
</plist>